<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Hello World login</title>
    <link rel="stylesheet" media="screen" href="../static/css/main.css" th:href="@{/static/css/main.css}"/>
</head>
<body>

    <h3>Login</h3>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <form th:action="@{/login}" method="post">
        <div><label> User Name : <input type="text" name="username" id="username" required/> </label></div>
        <div><label> Password: <input type="password" name="password" id="password" required/> </label></div>
        <p>Click <a th:href="@{/registration}">here</a> to register.</p>
        <div><input type="submit" value="Sign In"/></div>
    </form>
    <footer>
        <script type="text/javascript" src="../static/js/jquery-2.2.4.min.js" th:src="@{/static/js/jquery-2.2.4.min.js}"></script>
    </footer>
</body>
</html>